* {
    --logo-width: 80px;
    --logo-height: 80px;
}

.logo {
    width: var(--logo-width);
    height: var(--logo-height);
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo img {
    width: 100%;
    height: auto;
}